:root{
    font-family: Roboto, sans-serif 
}

.main{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.sidebar{
    grid-row: 1 / 6;


    background-color: #0284c7;
    padding:1rem;
}

/*Content section layout*/
.content{
    display: flex;
    grid-column: 2 / 6;
    grid-row: 2 / 6;

    background-color: #ededed;

    padding: 30px 15px 50px;
    
}

.content-left{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 50px) repeat(3, 1fr);
    grid-gap: 15px;
    flex: 3 1 auto;
}

.content-left-words{
    grid-column:1 / 3; 
    font-size: 1.3rem;
    font-weight: 600;
}

.normal{
    border-left: 10px solid rgb(181, 184, 234);
    background-color: white;
    border-radius: 15px;
    padding: 7px 15px;
}

.normal>h5{
    font-size: 1.3rem;
    margin: 10px 0px;
}

.normal>p{
    font-size: 1rem;
}

.content-right{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    flex: 1 1 auto;
}

.words{
    height: 50px;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.long-top,
.long-bottom{
    flex: 1;
    background-color: white;
    border-radius: 15px;
    padding: 7px 15px;
    font-size: 1.1rem;
}

.long-top{
    margin-bottom: 20px;
}

/*Sidebar layout*/
.side-top{
    display: flex;
    margin-bottom: 4rem;
    align-items: center;
}

.side-middle,
.side-bottom{
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    
    color:white;
    font-size: 1.5rem;
}

.side-middle-word,
.side-bottom-word{
    margin: 7px;
    font-weight: 600;
}

.side-top>div{
    margin-left: 6px;
    color:white;
    font-weight: 600;
    font-size: 2rem;
}

/*header layout*/
.header{
    grid-column: 2 / 6;
    display: flex;
    flex-direction: column;

    padding: 20px 40px;

    font-weight: 600;
}
.header-top{
    display: grid;
    grid-template-columns: 1fr max-content;
    margin-bottom: 2.5rem;
}

.header-buttom{
    display: flex;
    flex: 1;
    align-items: center;
}

.bottom-image{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: center center;
    margin-right: 15px;
}

.buttom-content{
    display: flex;
    flex-direction: column;
}

.larger-size{
    margin-top: 10px;
    font-size: 1.5rem;
}

.header-buttom>button{
    font-weight: 500;
    padding: 0.75em 2.3em;
    border-radius: 20px;
    border: none;
    height: 45px;

    background-color: #0284c7;
    color: white;
}

.buttom-content-button-left{
    margin-right: 15px;
}

.separate-point{
    margin-left: auto;
}

.search{
    display: flex;
    align-items: center;

    margin-right: auto;
    width: 100%;
}

.search>img{
    margin-right: 10px;
}

.account{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.image{
    height: 40px;
    width: 40px;
    background: center center;
    border-radius: 50%;
    margin: 0px 7px 0px 30px;
}

.search>input{
    background-color: #e7e5e4;
    border-radius: 10px;
    border: none;
    padding: 0px 10px;
    height: 34px;
    width: 30vw;
}
